.address-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.address-view vaadin-split-layout {
  width: 100%;
  height: 100%;
}

.address-view vaadin-grid {
  height: 100%;
}

.address-view .editor-layout {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.address-view .editor {
  flex-grow: 1;
  padding: var(--lumo-space-l);
}

.address-view .editor vaadin-checkbox {
  padding-top: var(--lumo-space-m);
}

.address-view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
}

.address-view .grid-wrapper {
  width: 100%;
}
